<section class="wrap">
  <p class="flash"><%= notice %><%= alert %></p>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 hidden-xs">
        <div class="network">
          <p class="introduction">Headbookを使うと、友達や同僚、同級生、仲間たちとつながりを深められます。ケータイ、スマートフォンからもアクセスできます。</p>
          <div class="map">
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form_wrap">
          <div class="head">
            <p class="account">アカウント登録</p>
            <p class="info">情報のプライバシーは設定で管理できるので安心です。</p>
          </div>
            <%= render 'form' %>

            <div class="under">
              <p>有名人、バンド、ビジネスのために<a href=#>Headbookページを作成</a></p>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>
